
tekunice-backend/.idea/compiler.xml
tekunice-backend/.idea/encodings.xml
tekunice-backend/.idea/jarRepositories.xml
tekunice-backend/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
tekunice-backend/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
tekunice-backend/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_11.xml
tekunice-backend/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_11.xml
tekunice-backend/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_2.xml
tekunice-backend/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_2.xml
tekunice-backend/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_2_2.xml
tekunice-backend/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
tekunice-backend/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_13_2.xml
tekunice-backend/.idea/libraries/Maven__com_google_guava_guava_16_0_1.xml
*.xml
*.class
