.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.form-element {
    margin-top: 20px;
    width: 50%;
    align-items: center;
}

.antrpological-form {
    display: grid;
    /* padding-top: 80px; */
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

div.antropological-form-element {
    margin-top: 20px;
    align-items: center;
    width: 26vw;

}