.factors-tab-container {
    /* height: 69vh; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.ant-factors-tab-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.natural-factors-container {
    border-right:  #6C1E15 1px solid;
    border-top:  #6C1E15 1px solid;
    border-left:  #6C1E15 1px solid;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.label-container {
    padding-left: 30px;
    padding-right: 30px;
}

#nf {
    padding-left: 10px;
    text-align: start;
    border-bottom: #6C1E15 1px solid;
    max-height: 70px;
}

p {
    margin-top: 0;
}

b#factor {
    font-size: 20px;
}

p#factor-value {
    font-size: 15px;
}

h1 {
    margin-top: 0;
}

/* .gif {
    height: 500px;
    width: 500px; 
} */
